<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />

  <!-- Mapbox -->
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <title>WikiMap</title>

</head>
<%- include('partials/_header') %>

  <body>

      <div class="card-body">
        <h5 class="card-title">
          <%= map[0].title %>
        </h5>
        <div>

        </div>
        <div id='map'></div>
        <a class="new-point-btn"href="/maps/point/new/<%=map_id %>">
          <button type="submit" class="btn btn-primary">Add a new point</button>
        </a>
        <div class="all-points">
          <% for( let point of map ) { %>
            <div class="individual-points">
              <div>User:<%= point.user %></div>
              <div>Description: <%= point.description %></div>
              <div> <img class="mapview-image"src="<%= point.image_url %>"> </div>

              <div class="edit-delete">
                <form action="/maps/edit/<%= point.id %>" method="get">
                  <input type="SUBMIT" class="btn btn-warning" value="Edit">
                </form>
                <form method="POST" action="/maps/<%=point.map_id%> /<%=point.id%>/delete">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              </div>

              </div>
              <% } %>
            </div>
      </div>
      <div class="card-footer text-muted"></div>
    </div>
    <!-- Bootstrap JS -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
  </body>

</html>
