<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>wikiMap</title>
  </head>
    <%- include('partials/_header')  %>
  <body>
    <main style="margin: 1em;">
      <h3>All maps</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Map</th>
            <th scope="col">Map Link</th>
            <th scope="col">View</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>

        <tbody>
          <% for( let map in maps) { %>
            <tr>
                <td><%= maps[map].title %>  </td>
                <td><a href=""><%= maps[map].map_url %></a> </td>
                <td><a href="/maps/<%= maps[map].id %>">view</a></td>
                <td>
                  <form method="POST" action="/maps/<%= maps[map].id %>/delete">
                    <button type="submit" class="btn btn-primary">Delete</button>
                  </form>
                </td>
            </tr>

        <% } %>
        </tbody>
      </table>
      <h3>Liked maps</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Map</th>
            <th scope="col">Map Link</th>
            <th scope="col">View</th>
          </tr>
        </thead>
        <tbody>
          <% for( let map in fav) { %>
            <tr>
                <td><%= fav[map].title %>  </td>
                <td><a href=""><%= fav[map].map_url %></a> </td>
                <td><a href="/maps/<%= fav[map].id %>">view</a></td>
            </tr>

        <% } %>
        </tbody>
      </table>

      <div>
        <a href="/maps/new">
          <button type="submit" class="btn btn-primary">Add a new map</button>
        </a>
    </div>
    </main>
    <!-- Bootstrap JS -->

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
